# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
Delaunay.pro.user
Delaunay.sdf
Delaunay.vcxproj.user
Delaunay.v11.suo
Delaunay.opensdf
x64/
